<h4 class="text-center">Cadastro de Professor</h4>

<form [formGroup]="cadastroForm" class="form mt-4" (submit)="cadastrar()">

    <div class="form-group">
        <input
            formControlName="name"
            type="text"
            class="form-control"
            placeholder="nome do professor"
            autofocus>

        <mw-vmessage
          *ngIf="cadastroForm.get('name').errors?.required"
          texto="Nome do professor é obrigatório!">
        </mw-vmessage>
    </div>

    <div class="form-group">
        <input
            formControlName="email"
            type="email"
            class="form-control"
            placeholder="email do professor"
            autofocus>

        <mw-vmessage
          *ngIf="cadastroForm.get('email').errors?.required"
          texto="Email do professor é obrigatório!">
        </mw-vmessage>
    </div>

    <div class="form-group">
        <input
            formControlName="registration"
            type="number"
            class="form-control"
            placeholder="matrícula do professor">

        <mw-vmessage
          *ngIf="cadastroForm.get('registration').errors?.required"
          texto="Matrícula é obrigatório!">
        </mw-vmessage>

    </div>

    <button
        [disabled]="cadastroForm.invalid"
        type="submit"
        class="btn btn-primary btn-block">
        cadastrar
    </button>

</form>