
            <div class="pt-2 pb-2 pl-5 item-menu-side-divisor">
                Opções
            </div>

            <a routerLink="/busca">
              <div class="mt-1 pt-2 pb-2 pl-5 item-menu-side">
                  <mat-icon>search</mat-icon>
                 Buscas              
               </div>
            </a>
            <a routerLink="/dataset">
                <div class="mt-1 pt-2 pb-2 pl-5 item-menu-side">
                    <mat-icon>school</mat-icon>
                    Conjunto de Dados                
                </div>
            </a>
            <a routerLink="/dataset">
              <div class="mt-1 pt-2 pb-2 pl-5 item-menu-side">
                  <mat-icon>account_balance</mat-icon>
                  Entidades Publicadoras                
              </div>
          </a>

          <a routerLink="/dataset">
            <div class="mt-1 pt-2 pb-2 pl-5 item-menu-side">
                <mat-icon>account_box</mat-icon>
                Usuários/Agentes Publicadores                
            </div>
        </a>
        <a routerLink="/dataset">
          <div class="mt-1 pt-2 pb-2 pl-5 item-menu-side">
              <mat-icon>all_inbox</mat-icon>
              Instâncias CKAN                
          </div>
      </a>
      <a routerLink="/dataset">
        <div class="mt-1 pt-2 pb-2 pl-5 item-menu-side">
            <mat-icon>text_format</mat-icon>
            Vocabulários                
        </div>
    </a>