<div class="row align-middle">
    <div *ngFor="let professor of professors" class="col-md-4">
      <div class="card mb-3">
        <div class="card-header">
          <strong>{{professor.name}}</strong> [Matrícula: {{professor.registration}}]
        </div>
        <div class="card-body">
          <p>Email: <strong>{{professor.email}}</strong></p>
          <p>Períodos:</p>
          <ul>
            <li *ngFor="let semester of professor.semesters">
              <p>{{semester.code}}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>