/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

html, body { height: 100%; }
body { margin-top: 80px; margin-bottom: 80px; font-family: 'Roboto', sans-serif; }

.mat-toolbar.mat-primary{
    background: #003a7a !important;
}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary{
    background: #003a7a;
}